body {
  background-color: #78FAC6;
}

.card {
  width: 28rem; 
  margin: 5px;
  background-color: white;
  transition: 0.3s;
  border: solid 10px hotpink;
}

.cardImg {
  height: 375px;
  width: 375px;
  margin: 10px;
  border: solid black 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cardTitle {
  color: black;
  font-size: 28px;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.card div {
  text-decoration: underline;
}

.button {
  color: purple;
  background-color: pink;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

button:hover {
  background-color: blue;
  box-shadow: 1px 1px 6px 4px black;
}