.contacttext {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  margin-top: 67px;
  max-width: 70vw;
  text-align: center;
  color: navy;
  font-family: 'Dosis', sans-serif;
}



form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50vw;
}

.formgroup label {
  color: #f7f3ee;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

#name,
#email,
#textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
}

.button {
  width: 50vw;
  height: 5vh;
  margin-top: 13px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  transition-duration: .2s;
}

.button:hover {
  /* background-color: #d0fdf2; */
  transform: scale(1.08);
  /* background-color: #dcbbf8; */
  /* color:#fd4d93; */
}

.contactbody {
  background-color: #7f69ff;
}

.contactwrapper {
  top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(22, 175, 114);
}


.contactlinks {
  margin-top: 80px;
  margin-right: 0px;
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
}

.image {
  height: 80px;
  width: 80px;
  margin: 0px 10px 30px 20px;
}

.contactlinks i:hover {
  transform: scale(1.09);
}

.contactlinks a:hover {
  text-decoration: none;
}