.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
}

.container h1 {
  width: fit-content;
  margin-top: 250px;
  font-size: 120px;
  border: 5px solid black;
  border-radius: 45px;
  background-color: red;
}





