/* Include padding and border in total box size*/
* {
  box-sizing: border-box;
}

.align {
  text-align: center;
}

.skills {
  text-align: center;
  padding-bottom: 80px;
}

.line {
  background: linear-gradient(#000, #000) no-repeat center/2px 80%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Dosis', sans-serif;
}

.paragraph {
  float: right;
  width: 45%;
  padding: 40px;
  padding-left: 70px;
  padding-right: 70px;
  height: 475px;
  margin: 30px;
  line-height:2;
  font-size: 30px;
}

.container img {
  border-radius: 50%;
  margin-left: 200px;
  height: 400px;
  width: 500px;
}

.container h2 {
  font-size: 65px;
  text-decoration: underline;
  font-weight: 900;
}

.container h3 {
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.icons img {
  height: 55px;
  width: 55px;
  margin: 0 auto;
  padding: 5px;

}


